<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpackSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag webpack_asset_path(main.css), media: 'all' %>
  </head>

  <body>
    <%= javascript_include_tag webpack_asset_path('main.js') %>
    <%= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>
  </body>
</html>
